<footer class="footer show-mobile">
    <div class="conten-footer-primary mobile-primary">
        <div class="social-media mobile-social">
            <ul>
                <li><a href="http://"><img src="./../../../../assets/images/icons/instagram_rosa.png" alt=""></a></li>
                <li><a href="http://"><img src="./../../../../assets/images/icons/facebook_rosa.png" alt=""></a></li>
                <li><a href="http://"><img src="./../../../../assets/images/icons/twitter_rosa.png" alt=""></a></li>
            </ul>
        </div>
        <div class="info-store mobile-info">
            <ul>
                <li><a href="">Políticas de privacidad</a></li>
                <li><a href="">Preguntas frecuentes</a></li>
                <li><a href="">Conviértete en vendedor</a></li>
            </ul>
        </div>
    </div>
    <div class="divider"></div>
    <div class="conten-footer-secondary mobile-secondary">
        <div class="rights mobile-rights">
            <span>CasaRosa LLC. All Rights Reserved</span>
        </div>
        <div class="payments mobile-payments">
            <ul>
                <li><a href=""><img src="./../../../../assets/images/icons/mastercard_.png" alt=""></a></li>
                <li><a href=""><img src="./../../../../assets/images/icons/visa_.png" alt=""></a></li>
                <li><a href=""><img src="./../../../../assets/images/icons/payoneer_.png" alt=""></a></li>
                <li><a href=""><img src="./../../../../assets/images/icons/paypal_.png" alt=""></a></li>
            </ul>
        </div>
    </div>
</footer>
