<!-- <p>Cantidad de productos agregados: {{listaProductos.length}}</p> -->
<!-- <p>Total ${{total}}</p> -->
<!-- <h1>Componente de producto</h1> -->
<!-- <button (click)="toggleProductDetail()">Abre el detalle</button> -->
<!-- <button (click)="crateNewProduct()">Crear nuevo producto</button> -->
<div class="products-grid">
  <!-- Recorremos el arreglo de productos usando el ngFor, con [product]="product" le estamos enviando el input -->
  <app-product  [product]="product" *ngFor="let product of products" (addProduct)="productoAgregado($event)"
    (verDetalleProduct)="detalleProdutPadre($event)" >
  </app-product>
</div>
<div class="onloadmore">
  <button class="btn-loadmore" (click)="onLoadMore()">Cargar más productos</button>
</div>

<div class="product-detail" [class.active]="showProductDetail">
  <div class="content">
    <a (click)="toggleProductDetail()" class="material-symbols-outlined btn-close">close</a>
    <swiper class="slider" [slidesPerView]="1" [spaceBetween]="50" [navigation]="false" [pagination]="{ clickable: false }"
      [scrollbar]="{ draggable: false }">
      <ng-template swiperSlide *ngFor="let imge of galeryProducts.images">
        <img [src]="imge" alt="imagen de producto">
      </ng-template>
    </swiper>
    <div class="content-title">
      <p class="title-product">{{galeryProducts.title}}</p>
      <p class="price-product ">{{galeryProducts.price | currency: 'USD'}}</p>
    </div>
    <div class="description-product">
      <p class="description-product">{{galeryProducts.description}}</p>
  </div>
    <!-- To Do: Leer esto y arreglar css: https://www.thisdot.co/blog/how-to-build-a-slideshow-app-using-swiper-and-angular -->
    <div class="buttons">
      <button class="btn-edit" (click)="updateProduct()">Editar producto</button>
      <button class="btn-delete" (click)="deleteProduct()">Eliminar producto</button>
    </div>
  </div>
</div>