<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * Componente de imagen * * * * * * * * * * * -->
<!-- <app-img img="Este texto viene desde el Componente Padre"></app-img> -->

<!-- <section>
    <button (click)="toggleImg()">Toggle img</button>
    <p>{{showImg}}</p>
    Con ngmodel podemos enviar datos dinamicamente desde el padre 
    <input type="text" [(ngModel)]="imgPadre">
    El evento onLoaded estara escuchando lo que pasa (carga imagen exitosa) en el componente hijo y activara padre 
    <app-img *ngIf="showImg" (loaded)="onLoaded($event)" [img]="imgPadre"></app-img> </section>-->
<router-outlet></router-outlet>
<!-- <section>
    <app-products></app-products>
</section> -->
