.container-catalogue img {
    width: 100%;
    margin-bottom: 20px;
}


p, h4{
    margin: 0;
}
.price-title {
    display: flex;
    justify-content: space-between;
}
.price-title .title-product, .price-product {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
}
.description-product p {
    font-size: 10px;
    font-weight: normal;
    margin-bottom: 10px;
}
.category-product{
    font-weight: bolder;
}
.btn-detail {
    border-radius: 3px;
    background-color: #F6DDCC;
    color: #17202A;
    border: 0;
    padding: 4px 20px;
    margin: 20px 0px 0px 0px;
    cursor: pointer;
}
.btn-cart {
    border-radius: 3px;
    background-color: #17202A;
    color: white;
    border: 0;
    padding: 4px 20px;
    margin: 20px 0px 0px 5px;
    cursor: pointer;
}