/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

@import url('./styles/reset.css');

/* @import 'swiper/css';
@import 'swiper/css/bundle'; */

/* @import '~swiper/scss'; */
@import '~swiper/swiper.min.css';
@import '~swiper/modules/navigation/navigation.min.css';
@import '~swiper/modules/pagination/pagination.min.css';

body{
    font-family: 'Lato', sans-serif;
}

.products-grid img {
    border-radius: 10px;
}